$dark_bg: #0c172e;
$primary_blue: #2d55a6;
$tertiary_blue_green: #219ebc;
$secondary_blue: #80ddf2;
$primary_purple: #b155d9;
$tertiary_red: #bf3636;
$primary_yellow: #ffb703;
$secondary_orange: #fb8500;
