#home {
  .info {
    display: flex;
    flex-direction: column;
    .img-circle {
      padding-bottom: 15px;
      width: 80px;
      height: 80px;
    }

    h1 {
      margin-bottom: 4px;
    }
    .type-animation {
      display: flex;
      align-items: center;
      font-size: 28px;
      margin-bottom: 30px;

      h2 {
        margin: 0;
      }
    }

    p {
      margin-bottom: 50px;
    }
  }

  .home-download-btn {
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
  }

  .home-socials {
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
  }

  #astronaut_img {
    justify-content: center;
    position: relative;
    max-width: 100%;
    min-height: 480px;

    &.responsive_300_480 {
      display: none;
    }

    &.responsive_450_480 {
      display: flex;
    }

    .astronaut-background {
      box-shadow: 2px 2px 2px 2px rgba(128, 221, 242, 0.5);
    }

    img {
      position: absolute;
      border-radius: 5%;
      -webkit-border-radius: 5%;
      -moz-border-radius: 5%;
      -ms-border-radius: 5%;
      -o-border-radius: 5%;

      &.floating {
        animation: float 6s ease-in-out infinite;
        -webkit-animation: float 6s ease-in-out infinite;
      }
    }
  }

  div.section-info {
    align-items: center;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}
