body {
  background: url("/assets/images/general/home_background_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;

  #responsive-sidebar {
    display: none;
  }

  #sidebar {
    display: flex;
  }
}

main {
  padding-left: 90px;

  > section {
    min-height: 100vh;
    padding-left: 110px;
    display: none;

    div.under-construction {
      display: flex;
      align-content: center;
      justify-content: center;
    }

    &.active {
      display: flex;
      align-items: center;
      justify-items: center;
    }
  }
}

#background-gradient {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  right: 0;

  &.background-home {
    background: rgb(12, 23, 46, 0.7);
  }

  &.background-section {
    background: linear-gradient(
      to bottom,
      rgb(12, 23, 46, 0.5) 0%,
      rgb(12, 23, 46, 1) 20%
    );
  }
}

.meteor-animation {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -2;

  @for $i from 1 through 8 {
    .meteor:nth-child(#{$i}) {
      position: absolute;
      background-image: url("../icons/meteor/meteor.svg");
      background-repeat: no-repeat;
      width: 60px;
      height: 50px;
      opacity: 0;
      left: #{random(100) + "vw"};
      top: #{random(100) + "vh"};
      animation: meteor #{random(5000) + 3000+"ms"} linear infinite;
      -webkit-animation: meteor #{random(5000) + 3000+"ms"} linear infinite;
      animation-delay: #{random(5000) + "ms"};
    }
  }

  @keyframes meteor {
    0% {
      opacity: 0.7;
      transform: translate(300px, -300px);
      -webkit-transform: translate(300px, -300px);
      -moz-transform: translate(300px, -300px);
      -ms-transform: translate(300px, -300px);
      -o-transform: translate(300px, -300px);
    }

    100% {
      opacity: 0;
      transform: translate(-300px, 300px);
      -webkit-transform: translate(-300px, 300px);
      -moz-transform: translate(-300px, 300px);
      -ms-transform: translate(-300px, 300px);
      -o-transform: translate(-300px, 300px);
    }
  }
}
