@import url("https://fonts.googleapis.com/css2?family=Sixtyfour:BLED,SCAN@0..100,-53..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
}

body {
  color: #ffb703;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body .text-highlight {
  color: #80ddf2;
}
body h1 {
  font-size: 34px;
  line-height: 38px;
}
body h2 {
  font-size: 28px;
  line-height: 32px;
}
body p {
  font-size: 18px;
  line-height: 27px;
}

body {
  background: url("/assets/images/general/home_background_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
body #responsive-sidebar {
  display: none;
}
body #sidebar {
  display: flex;
}

main {
  padding-left: 90px;
}
main > section {
  min-height: 100vh;
  padding-left: 110px;
  display: none;
}
main > section div.under-construction {
  display: flex;
  align-content: center;
  justify-content: center;
}
main > section.active {
  display: flex;
  align-items: center;
  justify-items: center;
}

#background-gradient {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  right: 0;
}
#background-gradient.background-home {
  background: rgba(12, 23, 46, 0.7);
}
#background-gradient.background-section {
  background: linear-gradient(to bottom, rgba(12, 23, 46, 0.5) 0%, rgb(12, 23, 46) 20%);
}

.meteor-animation {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -2;
}
.meteor-animation .meteor:nth-child(1) {
  position: absolute;
  background-image: url("../icons/meteor/meteor.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: 3vw;
  top: 62vh;
  animation: meteor 3261ms linear infinite;
  -webkit-animation: meteor 6206ms linear infinite;
  animation-delay: 916ms;
}
.meteor-animation .meteor:nth-child(2) {
  position: absolute;
  background-image: url("../icons/meteor/meteor.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: 82vw;
  top: 13vh;
  animation: meteor 4630ms linear infinite;
  -webkit-animation: meteor 3493ms linear infinite;
  animation-delay: 1761ms;
}
.meteor-animation .meteor:nth-child(3) {
  position: absolute;
  background-image: url("../icons/meteor/meteor.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: 44vw;
  top: 85vh;
  animation: meteor 7482ms linear infinite;
  -webkit-animation: meteor 5337ms linear infinite;
  animation-delay: 270ms;
}
.meteor-animation .meteor:nth-child(4) {
  position: absolute;
  background-image: url("../icons/meteor/meteor.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: 1vw;
  top: 100vh;
  animation: meteor 3529ms linear infinite;
  -webkit-animation: meteor 5515ms linear infinite;
  animation-delay: 1541ms;
}
.meteor-animation .meteor:nth-child(5) {
  position: absolute;
  background-image: url("../icons/meteor/meteor.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: 6vw;
  top: 22vh;
  animation: meteor 7601ms linear infinite;
  -webkit-animation: meteor 5559ms linear infinite;
  animation-delay: 4529ms;
}
.meteor-animation .meteor:nth-child(6) {
  position: absolute;
  background-image: url("../icons/meteor/meteor.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: 67vw;
  top: 75vh;
  animation: meteor 5914ms linear infinite;
  -webkit-animation: meteor 3477ms linear infinite;
  animation-delay: 1574ms;
}
.meteor-animation .meteor:nth-child(7) {
  position: absolute;
  background-image: url("../icons/meteor/meteor.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: 17vw;
  top: 15vh;
  animation: meteor 5096ms linear infinite;
  -webkit-animation: meteor 7286ms linear infinite;
  animation-delay: 2907ms;
}
.meteor-animation .meteor:nth-child(8) {
  position: absolute;
  background-image: url("../icons/meteor/meteor.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 50px;
  opacity: 0;
  left: 91vw;
  top: 38vh;
  animation: meteor 7543ms linear infinite;
  -webkit-animation: meteor 7029ms linear infinite;
  animation-delay: 1072ms;
}
@keyframes meteor {
  0% {
    opacity: 0.7;
    transform: translate(300px, -300px);
    -webkit-transform: translate(300px, -300px);
    -moz-transform: translate(300px, -300px);
    -ms-transform: translate(300px, -300px);
    -o-transform: translate(300px, -300px);
  }
  100% {
    opacity: 0;
    transform: translate(-300px, 300px);
    -webkit-transform: translate(-300px, 300px);
    -moz-transform: translate(-300px, 300px);
    -ms-transform: translate(-300px, 300px);
    -o-transform: translate(-300px, 300px);
  }
}

.btn-custom-download {
  behavior: clickable;
  display: inline-block;
  position: relative;
  padding: 10px 52px;
  background: #0c172e;
  font-size: 18px;
  width: 220px;
  color: #80ddf2;
  border: 2px solid #80ddf2;
  border-radius: 43px;
  z-index: 1;
  -webkit-border-radius: 43px;
  -moz-border-radius: 43px;
  -ms-border-radius: 43px;
  -o-border-radius: 43px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  overflow: hidden;
}
.btn-custom-download::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  background: #ffb703;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  z-index: -1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn-custom-download:hover {
  color: #0c172e;
  border: 2px solid #0c172e;
}
.btn-custom-download:hover::before {
  transform: translate(-50%, -50%) scale(3);
  -webkit-transform: translate(-50%, -50%) scale(3);
  -moz-transform: translate(-50%, -50%) scale(3);
  -ms-transform: translate(-50%, -50%) scale(3);
  -o-transform: translate(-50%, -50%) scale(3);
}

.socials-btn ul {
  display: flex;
}
.socials-btn ul li {
  margin-right: 30px;
}
.socials-btn ul li a {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid #ffb703;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 8px 0px 8px 0px;
  width: 130px;
}
.socials-btn ul li a div {
  display: flex;
  align-items: center;
  justify-items: center;
}
.socials-btn ul li a div img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.socials-btn ul li a div span {
  line-height: 0;
  font-size: 18px;
  color: #ffb703;
}
.socials-btn ul li a:hover {
  border: 2px solid #80ddf2;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.socials-btn ul li a:hover span {
  color: #80ddf2;
}
.socials-btn ul li a:hover img.linkedin-btn {
  content: url("/assets/icons/socials/dark/linkedin_over.svg");
}
.socials-btn ul li a:hover img.github-btn {
  content: url("/assets/icons/socials/dark/github_over.svg");
}

#sidebar {
  position: fixed;
  height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  flex-direction: column;
  transition: background-color 1s;
  z-index: 10;
}
#sidebar .toggle-sidebar {
  display: none;
  position: absolute;
  background: #14061a;
  right: -40px;
}
#sidebar .toggle-sidebar img {
  width: 40px;
  height: 40px;
}
#sidebar .logo {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .logo img {
  width: 50px;
  height: 50px;
}
#sidebar nav {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar nav ul {
  margin: 0;
  padding: 0;
}
#sidebar nav ul li {
  position: relative;
  margin-bottom: 15px;
}
#sidebar nav ul li a img {
  height: 30px;
  width: 30px;
}
#sidebar nav ul li a span {
  display: none;
}
#sidebar nav ul li a.active::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  inset: -15px;
  border: 2px solid #80ddf2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  animation: selectedAnimation 0.3s linear;
  -webkit-animation: selectedAnimation 0.3s linear;
}
#sidebar nav ul li > span {
  position: absolute;
  white-space: nowrap;
  padding-left: 5px;
  padding-top: 4px;
  left: 25px;
  height: 25px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
#sidebar .toggle-mode {
  height: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#sidebar .toggle-mode .outer {
  width: 35px;
  height: 70px;
  background: #ffb703;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
#sidebar .toggle-mode .outer .inner {
  width: 25px;
  height: 25px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes selectedAnimation {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

#home .info {
  display: flex;
  flex-direction: column;
}
#home .info .img-circle {
  padding-bottom: 15px;
  width: 80px;
  height: 80px;
}
#home .info h1 {
  margin-bottom: 4px;
}
#home .info .type-animation {
  display: flex;
  align-items: center;
  font-size: 28px;
  margin-bottom: 30px;
}
#home .info .type-animation h2 {
  margin: 0;
}
#home .info p {
  margin-bottom: 50px;
}
#home .home-download-btn {
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
}
#home .home-socials {
  display: flex;
  justify-content: left;
}
#home #astronaut_img {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  max-width: 100%;
  min-height: 480px;
}
#home #astronaut_img img {
  position: absolute;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
#home #astronaut_img img.floating {
  animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
}
#home div.section-info {
  align-items: center;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

#about_me {
  color: #ffb703;
}

#my_resume {
  color: #ffb703;
}

#my_work {
  color: #ffb703;
}

#my_blog {
  color: #ffb703;
}

#contact_me {
  color: #ffb703;
}

#have_fun {
  color: #ffb703;
}

@media (max-width: 1200px) {
  #sidebar {
    z-index: 10;
    background: #14061a;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  #sidebar.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  #sidebar .toggle-sidebar {
    display: flex;
  }
  #sidebar nav ul li .logo {
    justify-content: safe;
  }
  #sidebar nav ul li a {
    display: flex;
    align-items: center;
  }
  #sidebar nav ul li a span {
    display: block;
    padding-left: 8px;
  }
  #sidebar nav ul li a.active::before {
    width: 150px;
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
  }
  #sidebar nav ul li > span {
    display: none;
  }
  main {
    padding-left: 33px;
    padding-top: 80px;
  }
  main > section {
    padding-left: 0;
  }
}
@media (max-height: 500px) {
  body #responsive-sidebar {
    display: flex;
    position: fixed;
    z-index: 10;
  }
  body #responsive-sidebar nav.responsive-nav {
    background: #14061a;
  }
  body #responsive-sidebar nav.responsive-nav button.btn-responsive-nav {
    background: #14061a;
    border: none;
  }
  body #responsive-sidebar nav.responsive-nav button.btn-responsive-nav img {
    width: 40px;
    height: 40px;
  }
  body #responsive-sidebar li {
    display: flex;
    justify-items: center;
  }
  body #responsive-sidebar li a.anchor-responsive-nav {
    padding: 8px;
    color: #ffb703;
  }
  body #responsive-sidebar li a.anchor-responsive-nav.active {
    border: 2px solid #80ddf2;
    border-radius: 37px;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    -o-border-radius: 37px;
  }
  body #sidebar {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */